.weightedevaluations-table td,
.multipleevaluation-table td {
    vertical-align: middle;
}

.remove-item-icon {
    cursor: pointer;
}
.opacity-25 {
    opacity: .25;
}
.disabled-box {
    position: relative;
    background-color: rgba(0, 0, 0, 0.1);
    opacity: 0.25;
    pointer-events: none;
    z-index: 999;
}

.small-separator{
    margin-bottom: 0px;
    background-color: white;
}
.big-separator{
    height: 100px;
}

.gradeconfigwizard-draggingcontent{
    display: none;
}

.gradeconfigwizard-draggingcontent-color{
    color:white;
}

#page-grade-report-gradeconfigwizard-index .column-range, #page-grade-report-gradeconfigwizard-index .column-range, #page-grade-report-gradeconfigwizard-index .column-select {
    display: none;
}

#page-grade-report-gradeconfigwizard-index table.generaltable tbody tr td.column-actions > * {
    display: none;
}

#page-grade-report-gradeconfigwizard-index table.generaltable tbody tr.categoryitem td.column-actions > * {
    display:inherit;
}

#page-grade-report-gradeconfigwizard-index table.generaltable tbody tr.category td.column-actions > * {
    display:inherit;
}

/* START: Show actions on manual gradeitems */
#page-grade-report-gradeconfigwizard-index table.generaltable tbody tr.item:not(.categoryitem):has(.fa-square-o) td.column-actions > * {
    display:inherit;
}
/* END: Show actions on manual gradeitems */

#page-grade-report-gradeconfigwizard-index table.generaltable tbody tr.courseitem td.column-actions > * {
    display:inherit;
}

#page-grade-report-gradeconfigwizard-index .column-weight input[type=checkbox] {
    display: none;
}

#page-grade-report-gradeconfigwizard-index .column-name .action-icon {
    display: none;
}
