<div class="container">
  <div class="container">
    <div class="row">CREACIÓN DE CATEGORIAS</div>
    <div class="row mb-4">
      <input type="text" class="mr-3" name="weight-1" size="40">
      <button type="button" class="btn btn-primary">Crear</button>
    </div>
  </div>

  <table class="multipleevaluation-table table table-bordered">
    <thead>
      <tr>
        <th>CATEGORÍA</th>
        <th>PESO</th>
        <th>NOTA CORTE</th>
        <th>RECUPERACIÓN</th>
        <th>ELEMENTOS</th>
        <th>PESO</th>
        <th>NOTA CORTE</th>
        <th>RECUPERACIÓN</th>
      </tr>
    </thead>
    <tbody>
      {{! START: 1st data tr }}

      <tr>
        <td class="category" rowspan="4">
          Categoría 1
          <i class="fa fa-fw fa-trash-o icon remove-item-icon" title="Remove element" role="img" aria-label="Remove element"></i>
        </td>
        <td class="weight-1" rowspan="4">
          <input type="text" name="weight-1" size="4" value="1">
        </td>
        <td class="min-grade-1" rowspan="4">
          <div class="container">
            <div class="row">
              <input type="checkbox" class="mr-2" id="myCheckbox" checked="true">
              <input type="text" id="myTextInput" size="4" value="5">
            </div>
          </div>
        </td>
        <td class="resit-1" rowspan="4">
          Elemento 2
          <i class="fa fa-fw fa-trash-o icon remove-item-icon" title="Remove element" role="img" aria-label="Remove element"></i>
        </td>
      </tr>

      <tr>
        <td class="item">
          Elemento 1
          <i class="fa fa-fw fa-trash-o icon remove-item-icon" title="Remove element" role="img" aria-label="Remove element"></i>
        </td>
        <td class="weight-2">
          <input type="text" name="weight-1" size="4" value="1">
        </td>
        <td class="min-grade-2">
          <div class="container">
            <div class="row">
              <input type="checkbox" class="mr-2" id="myCheckbox" disabled>
              <input type="text" id="myTextInput" size="4" disabled>
            </div>
          </div>
        </td>
        <td class="resit-2">
          <button tyoe="button" class="btn btn-secondary" disabled>Añadir elementos</button>
        </td>
      </tr>

      <tr>
        <td class="item">
          Elemento 3
          <i class="fa fa-fw fa-trash-o icon remove-item-icon" title="Remove element" role="img" aria-label="Remove element"></i>
        </td>
        <td class="weight-2">
          <input type="text" name="weight-1" size="4" value="1">
        </td>
        <td class="min-grade-2">
          <div class="container">
            <div class="row">
              <input type="checkbox" class="mr-2" id="myCheckbox" disabled>
              <input type="text" id="myTextInput" size="4" disabled>
            </div>
          </div>
        </td>
        <td class="resit-2">
          <button tyoe="button" class="btn btn-secondary" disabled>Añadir elementos</button>
        </td>
      </tr>

      <tr>
        <td class="item"><button tyoe="button" class="btn btn-secondary">Añadir elementos</button></td>
        <td class="weight-2"></td>
        <td class="min-grade-2"></td>
        <td class="resit-2"></td>
      </tr>

      {{! END: 1st data tr }}

      {{! START: 2nd data tr }}

      <tr>
        <td class="category" rowspan="4">
          Categoría 2
          <i class="fa fa-fw fa-trash-o icon remove-item-icon" title="Remove element" role="img" aria-label="Remove element"></i>
        </td>
        <td class="weight-1" rowspan="4">
          <input type="text" name="weight-1" size="4" value="1">
        </td>
        <td class="min-grade-1" rowspan="4">
          <div class="container">
            <div class="row">
              <input type="checkbox" class="mr-2" id="myCheckbox" disabled>
              <input type="text" id="myTextInput" size="4" disabled>
            </div>
          </td>
          </div>
        <td class="resit-1" rowspan="4">
          <button tyoe="button" class="btn btn-secondary" disabled>Añadir elemento</button>
        </td>
      </tr>

      <tr>
        <td class="item">
          Elemento 5
          <i class="fa fa-fw fa-trash-o icon remove-item-icon" title="Remove element" role="img" aria-label="Remove element"></i>
        </td>
        <td class="weight-2">
          <input type="text" name="weight-1" size="4" value="1">
        </td>
        <td class="min-grade-2">
          <div class="container">
            <div class="row">
              <input type="checkbox" class="mr-2" id="myCheckbox" checked>
              <input type="text" id="myTextInput" size="4" value="5">
            </div>
          </div>
        </td>
        <td class="resit-2">
          Elemento 6
          <i class="fa fa-fw fa-trash-o icon remove-item-icon" title="Remove element" role="img" aria-label="Remove element"></i>
        </td>
      </tr>

      <tr>
        <td class="item">
          Elemento 7
          <i class="fa fa-fw fa-trash-o icon remove-item-icon" title="Remove element" role="img" aria-label="Remove element"></i>
        </td>
        <td class="weight-2">
          <input type="text" name="weight-1" size="4" value="1">
        </td>
        <td class="min-grade-2">
          <div class="container">
            <div class="row">
              <input type="checkbox" class="mr-2" id="myCheckbox" checked>
              <input type="text" id="myTextInput" size="4" value="6">
            </div>
          </div>
        </td>
        <td class="resit-2">
          <button tyoe="button" class="btn btn-primary">Añadir elemento</button>
        </td>
      </tr>

      <tr>
        <td class="item"><button tyoe="button" class="btn btn-secondary">Añadir elementos</button></td>
        <td class="weight-2"></td>
        <td class="min-grade-2"></td>
        <td class="resit-2"></td>
      </tr>

      {{! END: 2nd data tr }}

      {{! START: 3rd data tr }}

      <tr>
        <td class="category" rowspan="2">
          Categoría 3
          <i class="fa fa-fw fa-trash-o icon remove-item-icon" title="Remove element" role="img" aria-label="Remove element"></i>
        </td>
        <td class="weight-1" rowspan="2">
          <input type="text" name="weight-1" size="4" value="1">
        </td>
        <td class="min-grade-1" rowspan="2">
          <div class="container">
            <div class="row">
              <input type="checkbox" class="mr-2" id="myCheckbox" disabled>
              <input type="text" id="myTextInput" size="4" disabled>
            </div>
          </td>
          </div>
        <td class="resit-1" rowspan="2">
          <button tyoe="button" class="btn btn-secondary" disabled>Añadir elemento</button>
        </td>
      </tr>

      <tr>
        <td class="item"><button tyoe="button" class="btn btn-secondary">Añadir elementos</button></td>
        <td class="weight-2"></td>
        <td class="min-grade-2"></td>
        <td class="resit-2"></td>
      </tr>

      {{! END: 3rd data tr }}

      {{! START: 3rd data tr }}

      <tr>
        <td class="category" rowspan="3">
          Categoría 4
          <i class="fa fa-fw fa-trash-o icon remove-item-icon" title="Remove element" role="img" aria-label="Remove element"></i>
        </td>
        <td class="weight-1" rowspan="3">
          <input type="text" name="weight-1" size="4" value="1">
        </td>
        <td class="min-grade-1" rowspan="3">
          <div class="container">
            <div class="row">
              <input type="checkbox" class="mr-2" id="myCheckbox" checked>
              <input type="text" id="myTextInput" size="4" value="7">
            </div>
          </td>
          </div>
        <td class="resit-1" rowspan="3">
          <button tyoe="button" class="btn btn-primary">Añadir elemento</button>
        </td>
      </tr>

      <tr>
        <td class="item">
          Elemento 8
          <i class="fa fa-fw fa-trash-o icon remove-item-icon" title="Remove element" role="img" aria-label="Remove element"></i>
        </td>
        <td class="weight-2">
          <input type="text" name="weight-1" size="4" value="1">
        </td>
        <td class="min-grade-2">
          <div class="container">
            <div class="row">
              <input type="checkbox" class="mr-2" id="myCheckbox" disabled>
              <input type="text" id="myTextInput" size="4" disabled>
            </div>
          </div>
        </td>
        <td class="resit-2">
          <button tyoe="button" class="btn btn-secondary" disabled>Añadir elementos</button>
        </td>
      </tr>

      <tr>
        <td class="item"><button tyoe="button" class="btn btn-secondary">Añadir elementos</button></td>
        <td class="weight-2"></td>
        <td class="min-grade-2"></td>
        <td class="resit-2"></td>
      </tr>

      {{! END: 3rd data tr }}
    </tbody>
  </table>
  <div class="text-center">
    <button tyoe="button" class="btn btn-primary">Guardar cambios</button>
    <button tyoe="button" class="btn btn-primary">Guardar y salir</button>
  </div>
</div>

<style type="text/css">

.multipleevaluation-table td {
  vertical-align: middle;
}

.remove-item-icon {
  cursor: pointer;
}

</style>
